permissions:
  id-token: write # required to use OIDC authentication
  contents: read # required to checkout the code from the repo

name: Upload website files to S3 bucket
on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::438207642063:role/github-actions-role
        role-duration-seconds: 900 # the ttl of the session, in seconds.
        aws-region: us-east-1

    - name: Upload index.html (no-cache)
      run: |
        aws s3 cp index.html s3://ofrecord.org/index.html \
          --content-type "text/html" \
          --cache-control "no-cache"

    - name: Sync remaining files
      run: |
        aws s3 sync . s3://ofrecord.org \
          --exclude ".git/*" \
          --exclude ".github/*" \
          --exclude "README.md" \
          --exclude "architecture-diagram.drawio" \
          --exclude "index.html"

    - name: Invalidate CloudFront
      run: |
        aws cloudfront create-invalidation \
          --distribution-id YOUR_DISTRIBUTION_ID \
          --paths "/" "/index.html"

